<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-security:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_security_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-security" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:3.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:3.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:3.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-acl:3.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:3.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.1.7.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-security/web/Web" />
    </root>
  </artifact>
</component>